@import "../../default";

.homesearch
{
	width: 100%;
	height: 50px;
	padding: 10px 20px;

	border-radius: 15px;
	border: none;

	outline: none;
}

.catcont
{
	margin: 15px -10px;

	width: calc(100% + 15px);
	//background-color: $blue;
	//border-radius: 15px;

    //margin: 0 auto;
    //white-space: nowrap;

    &::-webkit-scrollbar 
    { 
    	display: none; 
	}

	.catview
	{
		display: inline-block;

		border-radius: 15px;
		height: 0;

		padding-bottom: calc(25% - 20px);
		width: calc(25% - 20px);
		margin: 10px;

		background-color: rgba($g, 0.5);
		float: left;

		transition: all 0.1s ease-in;
		text-align: center;

		color: $gg;
		//MUST BE DELIGATED WITH MEDIA SPECIFIER

		&:hover
		{
			background-color: $g;
			color: $blue;
			cursor: pointer;
		}

		i
		{
			font-size: 100px;
			margin: 40px 0 20px 10px;
		}

		p
		{
			font-size: 22px;
		}
	}
}