@import "../../default";

.adminform
{
	input
	{
		padding: 5px;
		outline: none;
	}

	button
	{
		padding: 7px 15px;
		background-color: $blue;
		color: white;
		border: none;
		font-weight: 400;
	}

	select
	{
		height: 34px;
		width: 166px;
		outline: none;
	}

	label
	{
		color: $red;
	}
}

.adminspan
{
	margin-top: 40px;
}

.adminlist
{
	width: 30%;
	margin: 0;
	padding: 0;

	list-style: none;
	float: left;

	//overflow-y: scroll;
	height: 200px;

	li
	{
		width: 100%;

		&:hover
		{
			background-color: rgba(white, 0.6);
			cursor: pointer;
		}

		i
		{
			float: right;
			color: $red;
		}
	}
}